# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
venv/

# Django
*.sqlite3
/db.sqlite3
/media/
/staticfiles/


# Env files
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build artifacts
.dist/
